* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
      background-color: black;
   

}


link {

    color: white;


  
}

.SITE-NOME {

     color: #000;

  

}


.logo-titulo {

    display: flex;
    flex-direction: row;
    background-color: rgb(52, 52, 52);
    align-items: center;
    padding: 20px;
  


}


    



.pesquisa-opcao{

  margin: 10px;
  padding: 0 40px;
    display: flex;
  flex-direction: row;
  flex-grow: 1;



   

}


.pesquisa-opcao input{

   
    width:100%;
    padding: 10px;
    background-color: #222;
    color: white;
    font-size: 1.2em;
    


    

    
}


.selecionar-opticao{
    margin-left: 20px;
    background-color: #222;
    color: white;
    font-size: 1em;


}
 

.container {


margin: 50px;
    display: flex;
flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;


  

}


.conteudo {



    margin: 20px;
   border: #b00d0d 2px solid;
   background-color: grey;
   display: flex;
   flex-direction: column;

 

}

.img-site {
 width: 700px; ;
 height: 500px; 




}

.info-produto {
    display: flex;
    flex-direction: column;
    align-items: center;

 
color: #b00d0d;


}








